

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 98vh;
    grid-template-areas:
      "slide timer"
      "type name";
   
      background-color: blue;
}



.slide{

    grid-area: slide;

    display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  font-size: 100px;
  margin: 5px;
  
}

.timer{

    grid-area: timer;

    display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: green;
  margin: 5px;
 
}

.type{

    grid-area: type;
    

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  font-size: 100px;
  margin: 5px;
  
}
.name{

    grid-area: name;
    

    display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: red;
  margin: 5px;
 
}


