* {
	box-sizing: border-box;
}

body {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	
}

body.dark {
	background: rgb(53, 55, 63);
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color:black;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 60px;
    transform: scale(3);
    
}

.ball {
	background-color:wheat;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(34px);
}


.fa-moon-o{
	color: yellow;
}

.fa-sun-o{
	color: red;
}